<% taxonomy = parent_resource %>
<% taxon = child_resource %>

<div class="sortable-tree-item-row d-flex flex-nowrap">
  <div class="move-handle d-flex align-items-center p-3">
    <%= svg_icon(name: 'grip-vertical.svg', width: '20', height: '20') %>
  </div>

  <div class="d-flex align-items-center overflow-hidden w-100">
    <div class="overflow-hidden">
      <%= taxon.name %>
      <!-- TODO: Taxon Paths do not update in view, fix with Turbo Frames.
        <h6 class="form-text text-muted mt-0 mb-1">
          <span class="badge badge-pill badge-light badge-light-muted-text"><%#= svg_icon(name: 'link.svg', width: '16', height: '16') %> <%= taxon.permalink %></span>
        </h6>
      -->
      <small class="form-text text-muted mt-0 mb-1">
        Submenu : <%= active_badge(!taxon.hide_from_nav) %>
      </small>
    </div>
    <% if taxon.icon.present? %>
      <div class="ml-2">
        <div class="item_image_holder">
          <%= image_tag main_app.cdn_image_url(taxon.icon.attachment) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-end d-flex justify-content-end">
    <%= link_to edit_admin_taxonomy_taxon_path(taxonomy, taxon.id), class: 'btn d-inline-flex btn-sm btn-neutral mx-1' do %>
      <i class="bi bi-pencil"></i>
    <% end %>  
    <%= button_to admin_taxonomy_taxon_path(taxonomy, taxon.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-neutral mx-1 text-danger-hover' do %>
      <i class="bi bi-trash"></i>
    <% end %>                
  </div>
</div>
