<%= form_with(model: [:admin, room], local: true) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %>
    <%= f.number_field :property_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :max_guests %>
    <%= f.number_field :max_guests, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :price_per_night %>
    <%= f.number_field :price_per_night, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :room_type %>
    <%= f.number_field :room_type, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :images, "Upload Images" %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
