<%= form_with(model: [:admin, @property, room], local: true) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :max_guests, class:"form-label" %>
        <%= f.number_field :max_guests, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field">
        <%= f.label :price_per_night, class: "form-label" %>
        <div class="input-group">
          <span class="input-group-text"><%= currency_symbol(current_currency) %></span>
          <%= f.number_field :price_per_night, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :room_type, class:"form-label" %>
        <%= f.select :room_type_id, Stay::RoomType.all.collect { |rt| [rt.name, rt.id] }, { include_blank: 'Select Room Type' }, class: 'form-control custom-select-box' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :description, class:"form-label" %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :size, class: "form-label" %>
        <%= f.text_field :size, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :bed_type, class:"form-label" %>
        <%= f.select :bed_type_id, Stay::BedType.all.collect { |type| [type.name, type.id] }, { include_blank: 'Select Bed Type' }, class: 'form-control custom-select-box' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :booking_start, class:"form-label"%>
        <%= f.date_field :booking_start, class: 'form-control' %>
      </div>
    </div>

     <div class="col-md-6">
      <div class="field">
        <%= f.label :booking_end, class:"form-label" %>
        <%= f.date_field :booking_end, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :amenity_ids, 'Amenities', class: 'form-label' %>
        <%= hidden_field_tag 'room[amenity_ids][]', '' %>
        <div class="custom-checkbox form-control">
          <% Stay::Amenity.all.each do |amenity| %>
            <div class="form-check">
              <%= check_box_tag 'room[amenity_ids][]', amenity.id, room.amenities.include?(amenity), class: 'form-check-input', id: "amenity_#{amenity.id}" %>
              <%= label_tag "amenity_#{amenity.id}", amenity.name, class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :amenity_ids, 'Features', class: 'form-label' %>
        <%= hidden_field_tag 'room[feature_ids][]', '' %>
        <div class="custom-checkbox form-control">
          <% Stay::Feature.where(feature_type: 'room').each do |feature| %>
            <div class="form-check">
              <%= check_box_tag 'room[feature_ids][]', feature.id, room.features.include?(feature), class: 'form-check-input', id: "feature_#{feature.id}" %>
              <%= label_tag "feature_#{feature.id}", feature.name, class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :images, "Upload Images", class:"form-label" %>
        <%= f.file_field :images, multiple: true, class:"form-control" %>
        <%= f.hidden_field :images, value: room.images if room.images.attached?%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group mt-4">
        <%= f.submit room.persisted? ? 'Update Room' : 'Create Room', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
