<div class="container mx-auto p-4">
  <div class="row mt-4 justify-content-center">
    <div class="col-md-8 col-lg-10"> 
      <div class="card">
        <div class="card-header">
          <h2 class="text-xl font-semibold mb-0">Room Details</h2> 
        </div>
        <div class="card-body">
          <p><strong>Image: </strong><%= image_tag main_app.url_for(@room.images.first), size: "60x60" if @room.images.attached? %></p>
          <p><strong>Property: </strong><%= @room.property&.title %></p>
          <p><strong>Max Guests: </strong><%= @room.max_guests %></p> 
          <p><strong>Price Per Night: </strong><%= @room.price_per_night %></p>
          <p><strong>Room Type: </strong><%= @room.room_type.name%></p>
          <div class="d-flex mt-4 p-4 justify-content-center">  
            <%= link_to 'Edit', edit_admin_property_room_path(@property, @room), class: 'btn btn-warning me-3' %> 
            <%= link_to 'Back', admin_property_rooms_path(@property), class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
