<h1>Payment Methods</h1>

<%= link_to 'New Payment Method', new_admin_payment_method_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @payment_methods.each do |payment_method| %>
      <tr>
        <td><%= payment_method.name %></td>
        <td><%= link_to 'Show', admin_payment_method_path(payment_method), class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_admin_payment_method_path(payment_method), class: 'btn btn-primary' %></td>
        <td>
          <%= link_to 'Destroy', admin_payment_method_path(payment_method), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
