<!DOCTYPE html>
<html class="h-100">
<head>
  <title>Stay</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'stay/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://unpkg.com/@webpixels/css@1.2.6/dist/index.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <%= javascript_include_tag 'stay/application' %>
</head>
<body class="bg-surface-secondary">
  <%= render 'stay/admin/shared/header' %>
    <% flash.each do |type, msg| %>
      <div class="flash">
        <div class="flash-content">
          <i class="bi <%= type == 'alert' ? 'bi-exclamation-lg' : 'bi-check-lg' %> check"></i>
          <div class="message">
            <span class="text text-1"><%= type.capitalize %></span>
            <span class="text text-2"><%= msg %></span>
          </div>
        </div>
        <i class="bi bi-x close"></i>
        <div class="progress"></div>
      </div>
    <% end %>
  <div class="content-wrapper">
    <% if user_signed_in? %>
      <div class="d-flex flex-column flex-lg-row h-lg-full">
        <%= render 'stay/admin/shared/sidebar' %>
        <div class="flex-grow-1">
          <main class="bg-surface-secondary">
            <%= yield %>
          </main>
        </div>
      </div>
    <% else %>
      <div class="main-content">
        <%= yield %>
      </div>
    <% end %>
  </div>
</body>
</html>