<!DOCTYPE html>
<html>
<head>
  <title>Stay</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->

  <%= stylesheet_link_tag 'stay/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'stay/application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render 'stay/shared/navbar' %>
  <div class="container mt-5">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
   </div>
  <div class="container mt-5">
    <%= yield %>
  </div>
</body>
</html>
