<%= form_with(model: [:admin, property], local: true) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :availability_start %>
    <%= f.date_field :availability_start, class: 'form-control' , data: { behavior: "flatpickr" } %>
  </div>

  <div class="field">
    <%= f.label :availability_end %>
    <%= f.date_field :availability_end, class: 'form-control', data: { behavior: "flatpickr" }  %>
  </div>

  <div class="field">
    <%= f.label :images, "Upload Images" %>
    <%= f.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
