<%= form_with(model: [:admin, property], local: true) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <div class="col-md-6">
      <div class="field">
        <%= f.label :title, class:"form-label" %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>

     <div class="col-md-6">
      <div class="field">
        <%= f.label :availability_start, class:"form-label"%>
        <%= f.date_field :availability_start, class: 'form-control' %>
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :description, class:"form-label" %>
        <%= f.text_area :description, class: 'form-control ckeditor' %>
      </div>
    </div>

     <div class="col-md-6">
      <div class="field">
        <%= f.label :availability_end, class:"form-label" %>
        <%= f.date_field :availability_end, class: 'form-control' %>
      </div>
    </div>

   
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :images, "Upload Images", class:"form-label" %>
        <%= f.file_field :images, multiple: true, class:"form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :price_per_night, class: "form-label" %>
        <div class="input-group">
          <span class="input-group-text"><%= currency_symbol(current_currency) %></span>
          <%= f.number_field :price_per_night, value: @property.master&.price_per_night || '', class: "form-control" %>
        </div>
      </div>
    </div>
    
     <div class="col-md-6">
      <div class="field">
        <%= f.label :active, class:"form-label" %>
        <%= f.check_box :active %>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group mt-4">
        <%= f.submit property.persisted? ? 'Update Property' : 'Create Property', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
