<%= form_with(model: [:admin, property], local: true) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :address, class:"form-label" %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :zipcode, class: "form-label" %>
        <%= f.number_field :zipcode, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :country_id, 'Select Country' %>
        <%= f.select :country_id, options_from_collection_for_select(Stay::Country.all, :id, :name, property.country_id), { include_blank: 'Select Country' }, id: 'country_select custom-select-box', class: 'form-control custom-select-box' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :state_id, 'Select State' %>
        <%= f.select :state_id, Stay::State.where(country_id: f.object.country_id).pluck(:name, :id),{ prompt: 'Select State', selected: f.object.state_id }, class: 'form-control custom-select-box', id: 'state_select' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group mt-4">
        <%= hidden_field_tag :step, 'location' %>
        <%= f.submit 'continue', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
