<h1>Property Details</h1>

<p>
  <strong>Image:</strong>
  <%= image_tag main_app.url_for(@property.images.first), size: "60x60" if @property.images.attached? %>
</p>

<p>
  <strong>Active:</strong>
  <%= @property.active %>
</p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Availability Start:</strong>
  <%= @property.availability_start %>
</p>

<p>
  <strong>Availability End:</strong>
  <%= @property.availability_end %>
</p>

<%= link_to 'Edit', edit_admin_property_path(@property), class: 'btn btn-primary' %>
<%= link_to 'Back', admin_properties_path, class: 'btn btn-secondary' %>
