<%= form_with(model: [:admin, payment], local: true) do |f| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :booking_id %>
    <%= f.number_field :booking_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :payment_method_id %>
    <%= f.number_field :payment_method_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
