
 <!-- Vertical Navbar -->
  <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-light border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <!-- User menu (mobile) -->
      <div class="navbar-user d-lg-none">
        <!-- Dropdown -->
        <div class="dropdown">
          <!-- Toggle -->
          <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar-parent-child">
              <img alt="Image Placeholder" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar- rounded-circle">
              <span class="avatar-child avatar-badge bg-success"></span>
            </div>
          </a>
          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
            <a href="#" class="dropdown-item">Profile</a>
            <a href="#" class="dropdown-item">Settings</a>
            <a href="#" class="dropdown-item">Billing</a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item">Logout</a>
          </div>
        </div>
      </div>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse">
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to admin_path, class: 'nav-link' do %>
              <i class="bi bi-house"></i> Dashboard
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_addresses_path, class: 'nav-link' do %>
              <i class="bi bi-bar-chart"></i> Address
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_roles_path, class: 'nav-link' do %>
              <i class="bi bi-chat"></i> Roles
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_users_path, class: 'nav-link' do %>
              <i class="bi bi-bookmarks"></i> User
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_properties_path, class: 'nav-link' do %>
            <i class="bi bi-bookmarks"></i> Properties
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_rooms_path, class: 'nav-link' do %>
            <i class="bi bi-bookmarks"></i> Rooms
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_bookings_path, class: 'nav-link' do %>
            <i class="bi bi-bookmarks"></i> Bookings
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_payment_methods_path, class: 'nav-link' do %>
            <i class="bi bi-bookmarks"></i> Payment Methods
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_payments_path, class: 'nav-link' do %>
            <i class="bi bi-bookmarks"></i> Payments
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_reviews_path, class: 'nav-link' do %>
            <i class="bi bi-bookmarks"></i> Reviews
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_chats_path, class: 'nav-link' do %>
            <i class="bi bi-bookmarks"></i> Chats
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to admin_messages_path, class: 'nav-link' do %>
            <i class="bi bi-bookmarks"></i> Messages
            <%end%>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="navbar-divider my-5 opacity-20">
        <!-- Navigation -->
       
        <!-- Push content down -->
        <div class="mt-auto"></div>
        <!-- User (md) -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-person-square"></i> Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-box-arrow-left"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
