<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title mb-0 h6">Seo Details
    </h5>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :seo_title, class:"form-label" %>
        <%= f.text_field :seo_title, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :meta_description, class:"form-label" %>
        <%= f.text_field :meta_description, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :meta_keywords, class:"form-label" %>
        <%= f.text_field :meta_keywords, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :seo_robots, class:"form-label" %>
        <%= f.text_field :seo_robots, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>
