<div class="card mb-4">
  <div class="card-header">
    <h5 class="card-title mb-0 h6">
      Social
    </h5>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :facebook, class:"form-label" %>
        <%= f.text_field :facebook, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :twitter, class:"form-label" %>
        <%= f.text_field :twitter, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :instagram, class:"form-label" %>
        <%= f.text_field :instagram, class: 'form-control' %>
      </div>
    </div>
  </div>
</div>