<%= form_with(model: [:admin,  @tax], local: true) do |f| %>
  <% if @tax.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tax.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul>
        <% @tax.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :name, class:"form-label" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group mt-4">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
