<%= form_with(model: [:admin,  @property_category], local: true) do |f| %>
  <% if @property_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property_category.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul>
        <% @property_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :name, class:"form-label" %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :property_type, class:"form-label" %>
        <%= f.select :property_type_id, Stay::PropertyType.all.collect { |pt| [pt.name, pt.id] }, { include_blank: 'Select Property Type' }, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="field">
        <%= f.label :room_type, class:"form-label" %>
        <%= f.select :room_type_id, Stay::RoomType.all.collect { |rt| [rt.name, rt.id] }, { include_blank: 'Select Room Type' }, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group mt-4">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
