<div class="card mb-7">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-sm-6 col-12 mb-4 mb-sm-0">
          <!-- Title -->
          <h1 class="h3 mb-0 ls-tight">Bookings</h1>
      </div>
      <!-- Actions -->
      <div class="col-sm-6 col-12 text-sm-end">
          <div class="mx-n1">
          <%= link_to new_admin_booking_path, class:"btn d-inline-flex btn-sm btn-primary mx-1" do %>
              <span class=" pe-2">
              <i class="bi bi-plus"></i>
              </span>
              <span>Create New</span>
          <%end%>
          </div>
      </div>
    </div>  
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-nowrap">
      <thead class="table-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Room</th>
          <th scope="col">Check In Date</th>
          <th scope="col">Check Out Date</th>
          <th scope="col">Number of Guests</th>
          <th scope="col">Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.user_id %></td>
            <td><%= booking.room_id %></td>
            <td><%= booking.check_in_date %></td>
            <td><%= booking.check_out_date %></td>
            <td><%= booking.number_of_guests %></td>
            <td><%= booking.status %></td>
            <td class="text-end d-flex justify-content-end">
              <%= link_to edit_admin_booking_path(booking), class: 'btn d-inline-flex btn-sm btn-neutral mx-1' do %>
                <i class="bi bi-pencil">Edit</i>
              <% end %>  
              <%= link_to admin_booking_path(booking), class: 'btn d-inline-flex btn-sm btn-neutral mx-1' do %>
                <i class="bi bi-eye">View</i>
              <% end %>
              <%= button_to admin_booking_path(booking), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-sm btn-neutral mx-1 text-danger-hover' do %>
                <i class="bi bi-trash">Destroy</i>
              <% end %>                
           </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="card-footer border-0 py-5">
    <span class="text-muted text-sm">Showing 10 items out of 250 results found</span>
  </div>
</div>  