<%= form_for @user, url: addresses_admin_user_path(@user), method: :put do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="addresses">
    <% if @user.addresses.any? %>
      <%= f.fields_for :addresses do |address_form| %>
        <%= render partial: 'address', locals: { address_form: address_form } %>
      <% end %>
    <% else %>
      <%= f.fields_for :addresses, @user.addresses.build do |address_form| %>
        <%= render partial: 'address', locals: { address_form: address_form } %>
      <% end %>
    <% end %>
  </div>

  <div class="actions form-group mt-4">
    <%= f.submit @user.addresses.any?(&:persisted?) ? 'Update Addresses' : 'Create Address', class: 'btn btn-primary' %>
  </div>
<% end %>
